<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../admin/dashboard/assets/css/style.css" />
    <link rel="stylesheet" href="../admin/exercise/style.css" />
  </head>
  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#" class="nav">
              <span class="icon">
                <img src="/logo2.png" alt="" />
              </span>
              <span class="title">The Quen Platform</span>
            </a>
          </li>

          <li>
            <a href="/" class="nav">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">go to home</span>
            </a>
          </li>
          <li>
            <a href="/dashboard" class="nav">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/student" class="nav">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Students</span>
            </a>
          </li>
          <li>
            <a href="/admin/studentOnline" class="nav">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">studentOnline</span>
            </a>
          </li>
          <li>
            <a href="/lesson" class="nav">
              <span class="icon">
                <ion-icon name="videocam-outline"></ion-icon>
              </span>
              <span class="title">Lessons</span>
            </a>
          </li>
          <li>
            <a href="/admin/homework" class="nav">
              <span class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
              </span>
              <span class="title">Homework</span>
            </a>
          </li>
          <li>
            <a href="/showStudentsDegree/homework" class="nav">
              <span class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
              </span>
              <span class="title">show Homework Degree</span>
            </a>
          </li>

          <li>
            <a href="/admin/quiz" class="nav">
              <span class="icon">
                <ion-icon name="clipboard-outline"></ion-icon>
              </span>
              <span class="title">Quiz</span>
            </a>
          </li>
          <li>
            <a href="/showStudentsDegree/quiz" class="nav">
              <span class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
              </span>
              <span class="title">show Quiz Degree</span>
            </a>
          </li>
          <li>
            <a href="/admin/exam" class="nav">
              <span class="icon">
                <ion-icon name="book-outline"></ion-icon>
              </span>
              <span class="title">Exam</span>
            </a>
          </li>
          <li>
            <a href="/showStudentsDegree/exam" class="nav">
              <span class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
              </span>
              <span class="title">show Exam Degree</span>
            </a>
          </li>
         
          <li>
            <a href="/sign" class="nav">
              <button class="signout nav">
                <span class="icon">
                  <ion-icon name="log-in-outline"></ion-icon>
                </span>
                <span class="title">Add Student</span>
              </button>
            </a>
          </li>
          
        </ul>
      </div>
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
        </div>
        <div class="container1">
          <div class="admin-Category-form-container">
            <form method="post" >
              <h3>add question</h3>

              <select name="educetionlevel">
                <option
                  name="grade"
                  value=""
                  class="placeholder"
                  disabled
                  selected
                  hidden
                >
                Specialization
                </option>
                <option name="educetionlevel" value="biology">Biology</option>
                <option name="educetionlevel" value="geology">geology</option>
              </select>
              <br />
              <br />
              <br />
              <select name="grade">
                <option
                  name="grade"
                  value=""
                  class="placeholder"
                  disabled
                  selected
                  hidden
                >
                  Grade
                </option>
                <option name="grade" value="1st">1st</option>
                <option name="grade" value="2nd">2nd</option>
                <option name="grade" value="3rd">3rd</option>
              </select>
              <br />
              <br />
              <br />
              <input name="nameQuiz" placeholder="enter name of quiz">
              <br />
              <br />
              <br />
             
              <select name="no">
                <option
                  name="no"
                  value=""
                  class="placeholder"
                  disabled
                  selected
                  hidden
                >
                  question
                </option>
                <option name="no" value="1">1</option>
                <option name="no" value="2">2</option>
                <option name="no" value="3">3</option>
                <option name="no" value="4">4</option>
                <option name="no" value="5">5</option>
                <option name="no" value="6">6</option>
                <option name="no" value="7">7</option>
                <option name="no" value="8">8</option>
                <option name="no" value="9">9</option>
                <option name="no" value="10">10</option>
                <option name="no" value="11">11</option>
                <option name="no" value="12">12</option>
                <option name="no" value="13">13</option>
                <option name="no" value="14">14</option>
                <option name="no" value="15">15</option>
                <option name="no" value="16">16</option>
                <option name="no" value="17">17</option>
                <option name="no" value="18">18</option>
                <option name="no" value="19">19</option>
                <option name="no" value="20">20</option>
                <option name="no" value="21">21</option>
                <option name="no" value="22">22</option>
                <option name="no" value="23">23</option>
                <option name="no" value="24">24</option>
                <option name="no" value="25">25</option>
                <option name="no" value="26">26</option>
                <option name="no" value="27">27</option>
                <option name="no" value="28">28</option>
                <option name="no" value="29">29</option>
                <option name="no" value="30">30</option>
              </select>
              <br />
              <br />
              <br />
              <input
                type="text"
                placeholder="enter question"
                name="question"
                class="box"
              />

              <input
                type="text"
                placeholder="enter answer"
                name="answer"
                class="box"
              />
              <input
                type="text"
                placeholder="enter answer"
                name="answer"
                class="box"
              />
              <input
                type="text"
                placeholder="enter answer"
                name="answer"
                class="box"
              />
              <input
                type="text"
                placeholder="enter answer"
                name="answer"
                class="box"
              />
              <input
                type="text"
                placeholder="coorect answer"
                name="correctAnswer"
                class="box"
              />
              <input
                type="datetime-local"
                placeholder="startTime"
                name="startTime"
                class="box"
              /><input
                type="datetime-local"
                placeholder="endTime"
                name="endTime"
                class="box"
              /><input
                type="text"
                placeholder="quizTime"
                name="quizTime"
                class="box"
                value="hh:min"
              />
              <input type="submit" class="btn" value="add" />
            </form>
          </div>

          <div class="Category-display">
            <table class="Category-display-table">
              <thead>
                <tr>
                  <th>educationlevel</th>
                  <th>grade</th>
                  <th>name exam</th>
                  <th>type</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>

            <% for(i of data) {%> 
              <tr>
                <td><%=i.educetionlevel %> </td>
                <td><%=i.grade %> </td>
                <td><%=i.nameQuiz %> </td>
                <td><%=i.type %> </td>
                <td>
                  <a
                    style="
                      background-color: green;
                      border-radius: 0.5rem;
                      padding: 0.5rem 0.5rem;
                      color: var(--white);
                    "
                    href="/editExam/<%=i._id %>"
                    > edit</a
                  >
                  <a
                    style="
                      background-color: brown;
                      border-radius: 0.5rem;
                      padding: 0.5rem 0.5rem;
                      color: var(--white);
                    "
                    href="/removeExam/<%=i._id %>"
                    > delete</a
                  >
                </td>
              </tr>
              <% } %> 
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="../admin/dashboard/assets/js/main.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
