<!DOCTYPE html>
<html>
  <head>
    <title>كوين الاحياء والچيولوچيا</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="../../show answer/style.css" />
  </head>

  <body>
    <% if(!checkCount){ %> 
    <div class="quizContainer container-fluid well well-lg">
      <div id="quiz1" class="text-center">
        <h2
          style="color: #d14040; position: center; left: 80%; top: 0%"
          align="Center"
        >
        الاسئله          <br />
        </h2>
       
      </div>
      <% for(let i =0;i< quiz.quizId['quiz'].length ; i++){ %> 
      <div class="quiz-container">
        <div class="question-number" style="display: flex;
        justify-content: space-between;
        ">
        
           <div class="timer" >
            <% if(i==0){%>
            <div class="time_left_txt" style="padding-right:10px;">Time Left</div>
            <div class="timer_sec"  id="d">

               </div>
               <% } %> 
              </div>
               <script>
                let dx =  Number("<%=d%>")
                let min = 0;
                let sec = 0;
              let timer=  setInterval(()=>{
                  dx--;
                  let hour = Math.floor((dx)/60/60)
                 min= Math.floor(((dx)/60)%60);
                 sec = Math.floor((((dx)%60))); 
                  document.querySelector('#d').innerHTML =(hour <10?"0"+hour:hour)+":"+ (min <10?"0"+min:min) +":"+(sec <10?"0"+sec:sec)
           if(dx < 1){
             hour = 0 ;
             min = 0 ;
             sec = 0;
             clearInterval(timer)
           }
                },1000)
               </script>
       
          <h3>
            <%=(i+1) %>.<%=quiz.quizId['quiz'][i]['question'] %>  <span class="question-num-value"></span>
          </h3>
        </div>
        <br />
        <br />
        <br />
        <section>
          <form method="Post" >
          <%for(j of quiz.quizId['quiz'][i].answer[0] ) {%> 
          <div class="options">
           
              <% if(j != "" ){ %> 
                
            <div class="options" > <input
              type="radio"
              name="answer<%=i%>" 
              value="<%=j%>" 
            /> <%=j%> </div>
            <% } %> 
          

          </div>
          <% } %> 
          <% if(i == (quiz.quizId['quiz'].length -1)){ %> 
            <div class="options" style="background-color: white;
            display: flex;
            padding: 5px;
            flex-direction: row-reverse;
            margin: 0;" >
                       

              <button style="background-color: brown; padding:12px 25px; color:white; border-radius: 5px; border: white none 0;">انتهاء</button>
            </form>
              </div>
            <% } %> 
        </section> 
        
      </div>
      <% } %> 
      <% }else{%>
        <h2>you can not enter exam again</h2>
      <%} %> 
     
      <script src="../../show answer/script.js"></script>
    </div>
  </body>
</html>
