

<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../admin/dashboard/assets/css/style.css" />

    <link rel="stylesheet" href="../admin/dashboard/assets/css/users.css" />

    <title>Uesrs</title>

  </head>

  <body>

    <!-- =============== Navigation ================ -->

    <div class="container">

      <div class="navigation">

        <ul>

          <li>

            <a href="#" class="nav">

              <span class="icon">

                <img src="/logo2.png" alt="" />

              </span>

              <span class="title">The Quen Platform</span>

            </a>

          </li>



          <li>

            <a href="/" class="nav">

              <span class="icon">

                <ion-icon name="home-outline"></ion-icon>

              </span>

              <span class="title">go to home</span>

            </a>

          </li>

          <li>

            <a href="/dashboard" class="nav">

              <span class="icon">

                <ion-icon name="home-outline"></ion-icon>

              </span>

              <span class="title">Dashboard</span>

            </a>

          </li>

          <li>

            <a href="/student" class="nav">

              <span class="icon">

                <ion-icon name="people-outline"></ion-icon>

              </span>

              <span class="title">Students</span>

            </a>

          </li>

          <li>

            <a href="/admin/studentOnline" class="nav">

              <span class="icon">

                <ion-icon name="people-outline"></ion-icon>

              </span>

              <span class="title">studentOnline</span>

            </a>

          </li>

          <li>

            <a href="/lesson" class="nav">

              <span class="icon">

                <ion-icon name="videocam-outline"></ion-icon>

              </span>

              <span class="title">Lessons</span>

            </a>

          </li>

          <li>

            <a href="/admin/homework" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">Homework</span>

            </a>

          </li>

          <li>

            <a href="/showStudentsDegree/homework" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">show Homework Degree</span>

            </a>

          </li>



          <li>

            <a href="/admin/quiz" class="nav">

              <span class="icon">

                <ion-icon name="clipboard-outline"></ion-icon>

              </span>

              <span class="title">Quiz</span>

            </a>

          </li>

          <li>

            <a href="/showStudentsDegree/quiz" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">show Quiz Degree</span>

            </a>

          </li>

          <li>

            <a href="/admin/exam" class="nav">

              <span class="icon">

                <ion-icon name="book-outline"></ion-icon>

              </span>

              <span class="title">Exam</span>

            </a>

          </li>

          <li>

            <a href="/showStudentsDegree/exam" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">show Exam Degree</span>

            </a>

          </li>

          

          <li>

            <a href="/sign" class="nav">

              <button class="signout nav">

                <span class="icon">

                  <ion-icon name="log-in-outline"></ion-icon>

                </span>

                <span class="title">Add Student</span>

              </button>

            </a>

          </li>

          

        </ul>

      </div>



      <div class="main">

        <div class="topbar">

          <div class="toggle">

            <ion-icon name="menu-outline"></ion-icon>

          </div>

          <div class="users">

            <div class="customers">

              <div class="cardHeader">

                <h2>User Online</h2>

              </div>

              <table>

                <thead>

                  <tr>

                    <td>Name</td>
                    <td>Specialization</td>
                    <td>Grade</td>

                    <td>Phone number</td>

                    <td>Group</td>

                    <td>Card number</td>

                    <td>Action</td>



                  </tr>

                </thead>

                <tbody>

                <% for(let i of student){%>

                <tr>

                  <td><%=i.fullName%></td>

                  <td><%=i.educetionlevel%></td>
                  <td><%=i.grade%></td>

                  <td><%=i.phoneNumber%></td>

                  <td><%=i.group%></td>

                  <td><%=i.cardNumber%></td>

                  <td>

                    <a

                      style="

                        background-color: brown;

                        border-radius: 0.5rem;

                        padding: 0.5rem 0.5rem;

                        color: var(--white);

                      "

                      href="/removeStudentOnline/<%=i._id%>"

                      >delete</a

                    >

                  </td>

                </tr>

              <%}%>

                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

    </div>

    <script src="../admin/dashboard/assets/js/main.js"></script>

    <script

      type="module"

      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"

    ></script>

    <script

      nomodule

      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"

    ></script>

  </body>

</html>


