

<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../admin/dashboard/assets/css/style.css" />

    <link rel="stylesheet" href="../admin/dashboard/assets/css/users.css" />

    <title>Uesrs</title>

  </head>

  <body>

    <!-- =============== Navigation ================ -->

    <div class="container">

      <div class="navigation">

        <ul>

          <li>

            <a href="#" class="nav">

              <span class="icon">

                <img src="/logo2.png" alt="" />

              </span>

              <span class="title">The Quen Platform</span>

            </a>

          </li>



          <li>

            <a href="/" class="nav">

              <span class="icon">

                <ion-icon name="home-outline"></ion-icon>

              </span>

              <span class="title">go to home</span>

            </a>

          </li>

          <li>

            <a href="/dashboard" class="nav">

              <span class="icon">

                <ion-icon name="home-outline"></ion-icon>

              </span>

              <span class="title">Dashboard</span>

            </a>

          </li>

          <li>

            <a href="/student" class="nav">

              <span class="icon">

                <ion-icon name="people-outline"></ion-icon>

              </span>

              <span class="title">Students</span>

            </a>

          </li>

          <li>

            <a href="/admin/studentOnline" class="nav">

              <span class="icon">

                <ion-icon name="people-outline"></ion-icon>

              </span>

              <span class="title">studentOnline</span>

            </a>

          </li>

          <li>

            <a href="/lesson" class="nav">

              <span class="icon">

                <ion-icon name="videocam-outline"></ion-icon>

              </span>

              <span class="title">Lessons</span>

            </a>

          </li>

          <li>

            <a href="/admin/homework" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">Homework</span>

            </a>

          </li>

          <li>

            <a href="/showStudentsDegree/homework" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">show Homework Degree</span>

            </a>

          </li>



          <li>

            <a href="/admin/quiz" class="nav">

              <span class="icon">

                <ion-icon name="clipboard-outline"></ion-icon>

              </span>

              <span class="title">Quiz</span>

            </a>

          </li>

          <li>

            <a href="/showStudentsDegree/quiz" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">show Quiz Degree</span>

            </a>

          </li>

          <li>

            <a href="/admin/exam" class="nav">

              <span class="icon">

                <ion-icon name="book-outline"></ion-icon>

              </span>

              <span class="title">Exam</span>

            </a>

          </li>

          <li>

            <a href="/showStudentsDegree/exam" class="nav">

              <span class="icon">

                <ion-icon name="newspaper-outline"></ion-icon>

              </span>

              <span class="title">show Exam Degree</span>

            </a>

          </li>

          

          <li>

            <a href="/sign" class="nav">

              <button class="signout nav">

                <span class="icon">

                  <ion-icon name="log-in-outline"></ion-icon>

                </span>

                <span class="title">Add Student</span>

              </button>

            </a>

          </li>

          

        </ul>

      </div>



      <div class="main">

        <div class="topbar">

          <div class="toggle">

            <ion-icon name="menu-outline"></ion-icon>

          </div>



          <div class="users">

            <form method="get" action="" >

              <select

              name="group"

              id="group"

              style="margin: 0 5px;  width: 130px; height: 25px;"

            >

              <option

                name="group"

                value="All"

                class="placeholder"

                disabled

                selected

                hidden

              >

                Select Group

              </option>

              <option name="group" value="All">All</option>



              <option name="group" value="OnlineStudent">OnlineStudent</option>

              <option name="group" value="Monday">Monday</option>

              <option name="group" value="Tuesday">Tuesday</option>

              <option name="group" value="Wednesday">Wednesday</option>

              <option name="group" value="Thursday">Thursday</option>

              <option name="group" value="Friday">Friday</option>

              <option name="group" value="Saturday">Saturday</option>

              <option name="group" value="Sunday">Sunday</option>

            </select>

            <button>Search</button>

            </form>

          

            <br />



            <div class="customers">

              <div class="cardHeader">

                <h2><%=type%></h2>

              </div>

              <table>

                <thead>

                  <tr>

                    <td>Name</td>

                    <td>cardName</td>

                    <td>Group</td>

                    <td>Grade&Specialization</td>



                    <td><%=type%>Name</td>

                    <td><%=type%>Level</td>

                    <td>degree</td>

                    <td>Action</td>

                  </tr>

                </thead>

                <tbody>

                  <% for(let i of data){%>

                    <% if(i){%>
		<%if(i['quiz']){%>
                   <% if(i.student != null){ %> 

                  <tr>

                    <td><%=i['student'].fullName%></td>

                    <td><%=i.student.cardNumber%></td>

                    <td><%=i['student'].group%></td>



                    <td>

                      <%=(i['student'].grade != undefined) ? (i['student'].grade +" &" ) : "" ; %>

                      <%=i['student'].educetionlevel%>

                    </td>
			<%if(i['quiz']){%>
                    <td><%=i['quiz'].nameQuiz%></td>
			<%}%>
                    <td>

                      <%=(i['quiz'].grade != undefined) ? (i['quiz'].grade +" &" ) : "" ; %>

                      <%=i['quiz'].educetionlevel%>

                    </td>



                    <td><%=i.totalDegree%>/<%=i.quiz.quiz.length%></td>

                    <td>

                      <a

                        style="

                          background-color: brown;

                          border-radius: 0.5rem;

                          padding: 0.5rem 0.5rem;

                          color: var(--white);

                        "

                        href="/removestudentDegree/<%=i['quiz'].type%>/<%=i._id %>"

                        >delete</a

                      >

                    </td>

                    

                  </tr>

                  <% } %> 
<%}%>
                  <% } %> 

                  <%}%>

                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

    </div>

    <script src="../admin/dashboard/assets/js/main.js"></script>

    <script

      type="module"

      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"

    ></script>

    <script

      nomodule

      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"

    ></script>

  </body>

</html>


