<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>كوين الاحياء والچيولوچيا </title>

    <!-- Bootstrap core CSS -->
    <link href="../homework/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../homework/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../homework/assets/css/templatemo-seo-dream.css" />
    <link rel="stylesheet" href="../homework/assets/css/animated.css" />
    <link rel="stylesheet" href="../homework/assets/css/owl.css" />
  </head>

  <body>
    <main>
      <!-- ***** Preloader Start ***** -->

      <!-- ***** Preloader End ***** -->

      <!-- ***** Header Area Start ***** -->
      <header id="header">
        <nav>
          <div class="container">
            <div class="logo">
              <a href="/">
                <img src="/assets/images/logo.png" alt="" />
              </a>
            </div>
          </div>
        </nav>
      </header>

      <!-- Services Start -->
      <div class="container-fluid py-5">
        <div class="container">
          <div class="text-center mx-auto mb-5" style="max-width: 500px">
            <h2
              class="d-inline-block text-primary text-uppercase border-bottom border-5"
            >
              الواجب
            </h2>
            <h1 class="display-4"></h1>
          </div>
          <div class="row g-5">
            <% let lox =""; let lo =""; let loy ="" %> 
<%  for (element of data) {%>
  <%lox = checkah.find((value) => {%>
    <%lo = element.units.find((val, index) => {%>
      <%return value.quiz.toString() == val.quizId%>
   <% });%>
   <%loy = element.units.find((val, index) => {%>
    <%return val.homeId != undefined %>
 <% });%>
   <% if (lo != undefined && loy != undefined ){ %> 

            <div class="col-lg-4 col-md-6">
              <div
                class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
              >
                <div
                  class="service-item wow bounceInUp"
                  data-wow-duration="1s"
                  data-wow-delay="0.3s"
                >
                
                <% let comp = deg.find((val)=>{return val.quiz.toString() == lo['homeId']._id}) || "" %> 
                  <h4 class="mb-3"><%=lo['homeId'].nameQuiz %></h4>

                  <div class="service-icon mb-4">
                    <i class="fa fa-2x fa-user-md text-white"></i>
                  </div>
                  <p class="m-0"><%= comp.totalDegree  %>/<%= (lo['homeId']['quiz'].length) %></p>

                  <% if(comp){%>
                     <a href="/showAnswer/<%=lo['homeId']._id %> " class="active"
                     >الاجابات</a
                   >
                   <%}else{%>
                     <a href="/homework/<%=lo['homeId']._id%>" class="active"
                     >الذهاب لحل الواجب</a
                   >
                   <%}%>               
                   </div>
              </div>
            </div>
            <%}%>
 <% });%>
<%} %>  
          </div>
        </div>
      </div>
      <!-- Services End -->
    </main>

    <footer class="footer">
      <div class="container">
        <div class="grid-4"></div>

        <div class="bottom-footer">
          <div class="copyright">
            <p class="text">
              © Copyright 2022. All Rights Reserved.

              <br />Developed By:
              <a
                rel="nofollow"
                href="https://www.facebook.com/profile.php?id=100011225383830"
                >Abdelrahman</a
              >
              &
              <a rel="nofollow" href="https://www.facebook.com/ahmed11mahomed">
                Kotp</a
              >
            </p>
          </div>

          <div class="followme-wrap">
            <div class="followme">
              <h3>Follow us</h3>
              <span class="footer-line"></span>
              <div class="social-media">
                <a
                href="https://www.facebook.com/110791531658361/posts/pfbid0c69AZYrLKtQCiFQXe7t7vpaw4bi9WRtpT1SavhTNHJ1kXWonQ7bVSdpRhuVthVyTl/"
                >
                  <i class="fab fa-facebook-f"></i>
                </a>
                
                <a
                  href="#"
                >
                  <i class="fa fa-youtube"></i>
                </a>
                <a href="whatsapp://send?text=Hello!&phone=01122839310">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </div>
            </div>

            <div class="back-btn-wrap">
              <a href="#" class="back-btn">
                <i class="fas fa-chevron-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../homework/vendor/jquery/jquery.min.js"></script>
    <script src="../homework/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../homework/assets/js/owl-carousel.js"></script>
    <script src="../homework/assets/js/animation.js"></script>
    <script src="../homework/assets/js/imagesloaded.js"></script>
    <script src="../homework/assets/js/custom.js"></script>
    <script
      src="https://kit.fontawesome.com/f05b3a1e7e.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
